/* Desktop */
@media screen and (min-width: 1024px) {
}
/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
}

@media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }