:root {
  --primary-color: #2ab39a;
  --base-font-size: 16px;
}

* {
  background-color: black;
  color: white;
  font-family: "sora", sans-serif;
  margin: 20px;
  font-size: var(--base-font-size);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header img {
  margin-left: 10px;
  max-width: 280px;
  max-height: 100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.hero {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.hero-content {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
}

/* Desktop */
@media screen and (min-width: 1024px) {
}
/* Tablet */
@media screen and (min-width: 769px) and (max-width: 1023px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
}
