:root {
  --primary-color: #2ab39a;
  --secondary-color: #f9f9f9;
  --third-color: #000000;
  --background-color: #0b0c10;
  --base-font-size: 0.8rem;
  --font-family: "sora", sans-serif;
  --font-family-secondary: "roboto", sans-serif;
}

* {
  background-color: var(--background-color);
  color: var(--secondary-color);
  font-family: var(--font-family-secondary);
  font-size: var(--base-font-size);
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

header {
  display: flex;
  /* padding: 0;
  margin: 0;
  width: 100%; */
  align-items: center;
  justify-content: space-between;
}

header img {
  /* width: 100%; */
  /* max-width: 280px;
  max-height: 100px; */
  height: 6rem;
}

.btnheader {
  background-color: var(--primary-color);
  display: flex;
  border-radius: 30px;
  padding: 10px 20px;
  border: none;
  font-size: var(--base-font-size);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

.hero {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.hero-content h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
}

.hero-content .blk {
  font-size: 1.5rem;
  color: var(--third-color);
  background-color: transparent;
}

.hero-content p {
  font-size: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.hero-content button {
  background-color: var(--secondary-color);
  color: var(--third-color);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-family: var(--font-family-secondary);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.hero-content button:hover {
  background-color: var(--third-color);
  color: var(--secondary-color);
}

.hero-content img {
  max-width: 50%;
  max-height: 50%;
  margin-top: 40px;
}
