*{
    background-color: black;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
}
.img{
   height: 6rem;
}
.header .nav a{
    margin: 0 1rem;
    font-size: 20px;
}
.nav a:hover{
    color: #2AB39A;
    transition: .3s;
}
.btnheader {
    background-color: #2AB39A;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    font-size: 20px;
}
.hero{
    background-color: #2AB39A;
    height: 760px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 40px;
    border-radius:40px ;
    margin-bottom: 30px;
    align-items: center;
 
 

}
.hero .h2hero{
    /*display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    background-color: transparent;
    width: 100%;
    align-self: center;*/
    color:white;
    background-color: transparent;
    display: flex;
    
    
}
.hero h5{
    /*display: flex;
    text-align: center;
    color:white;
    background-color: transparent;
    margin: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;*/
    text-align: center;
    background-color: transparent;
    

}
.btnhero{
    display: flex;
    color:black;
    background-color: white;
    border-radius: 30px;
    padding: 7px;
    margin: 50px;
}
