*{
    background-color: rgb(0, 0, 0);
    color:white;
}

.header{
    list-style-type: none;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.navbar{
    list-style-type: none;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    margin: 0 10px;
}

nav a{
    list-style-type: none;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    gap: 100px;
    width: 100%;
    margin: 0 10px;

}